* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn {
    border: 0 !important;
    box-shadow: none !important;
    border: 2px solid rgb(66, 43, 13) !important;
    outline: none !important;
    padding: 6px 28px;
    font-weight: 600;
    font-size: 1.32rem;
    margin-top: 3rem;
    font-family: cursive;
}

h1 {
    text-transform: capitalize;
    font-family: cursive;
    font-weight: 600;
    font-size: 3.1545rem;
    margin-bottom: 1.765rem;

}

h4 {
    font-size: 1.6565rem;
    font-weight: 600;
    font-family: cursive;
    text-transform: capitalize;
}